:root {
    --FIRST_COLOR: #FDE09B;
    --SECOND_COLOR: #FEEFCD;
    --HOVER_COLOR: #ecd08a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.background_image {
    z-index: -1000;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.box_shadow {
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 1);
-moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 1);
box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 1);
}
#back_to_start {
    position: absolute;
    top: 0;
    left: 0;
    color: #eee;
    text-shadow: 0 0 10px black;
    font-size: 24px;
}

#back_to_start:hover {
    cursor: pointer;
    text-decoration: underline;
}
.main {
    opacity: 1;
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.field {
    margin-top: 50px;
    height: 50px;
}

#text_input
{
    font-size: 25px;
    box-sizing: border-box;
    float: left;
    width: 700px;
    background: var(--SECOND_COLOR);
    border: 3px solid var(--FIRST_COLOR);
    padding-left: 10px;
    height: 50px;
}

#text_input:focus
{
    outline: none;
}

.icon-up-big:hover, .icon-down-big:hover, .icon-trash:hover, .icon-ok:hover, .icon-plus:hover {
    cursor: pointer;
}

#add_button {
    width: 100px;
    padding-top: 12px;
    height: 38px;
    float: left;
    background-color: var(--FIRST_COLOR);
    border: none;
    transition: 0.25s background-color ease-in-out;
}

#add_button:hover, .delete_button:hover {
    background-color: var(--HOVER_COLOR);
}

#list {
    width: 800px;
    margin-top: 50px;
    font-size: 25px;
    clear: both;
}

.list_item {
    position: relative;
    box-sizing: border-box;
    border-collapse: collapse;
    width: 800px;
    height: 50px;
    margin-top: 10px;
    background-color: var(--SECOND_COLOR);
}

.text_content {
    border: 3px solid var(--FIRST_COLOR);
    box-sizing: border-box;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    height: 50px;
    font-size: 25px;
    width: 700px;
    background-color: var(--SECOND_COLOR);
    float: left;
}

.delete_button {
    width: 100px;
    float: left;
    border: none;
    height: 40px;
    padding-top: 10px;
    background-color: var(--FIRST_COLOR);
    transition: 0.25s background-color ease-in-out;
}